<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Not Found</title>
    <style>
      body {
        background: #ffffff;
        color: #000000;
        font-family: Arial, sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <text>Not Found</text>
  </body>
</html>
